@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(80, 80, 80);
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 170px;
    color: rgb(47, 218, 158);
    text-shadow: 0 0 13px black;
}

.dices{
    color: rgb(47, 218, 158);
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 100px 0px;

}


.dice-1, .dice-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

